body {
    font-family: Helvetica, sans-serif, arial;
    font-size: 12px;
}

#query {
    padding: 10px;
    font-size: 26px;
    width: 90%;
    margin-bottom: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}

#search_container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#images {
    width: 100%;
}

#images div {
    width: 30%;
    float: left;
    padding: 2px;
}

#slider {
    width: 80%;
    margin-left: 10%;
}

#slider_container {
    margin-top: 5px;
    width: 100%;
    overflow: auto;
}

#slider_min_value {
    text-align: left;
    float: left;
    width: 33%;
}

#slider_value {
    text-align: center;
    float: left;
    width: 34%;
}

#slider_max_value {
    text-align: right;
    float: right;
    width: 33%;
}

a.questionmark {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 2px white;
    background: red;
    color: white;
    opacity: 0.25;
    text-decoration: none;
}

a.questionmark:hover {
    opacity: 1.0;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
}

a.regnum {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 2px white;
    background: green;
    color: white;
    opacity: 0.25;
    text-decoration: none;
}

a.regnum:hover {
    opacity: 1.0;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
}

#container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#canvas {
    border: 2px solid gray;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}